html {
  font-size: 100%;
  color: white;
}

header {
  margin: 12px;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-family: "Questrial", sans-serif;

  font-size: 1rem;
  line-height: 1.5;
  color: white;
  background-color: #e8e8e8;
}

button:disabled {
  opacity: 0.5;
}

.root {
  height: 100%;
}

.main-body {
  z-index: 1;
  padding: 12px;
}
.render {
  //z-index: 1;
  //position: absolute;
}

.sequencer-main-body {
  //background-color: black;
  //z-index: 2;
  //position: absolute;
  height: 100%;
}

.main-body-container {
  height: 100%;
}

.toggle-row {
  padding-top: 12px;
}
.toolbar-header {
  //margin: 12px;
  color: #30336b;
  background-color: #f5f5f5;
  border: 1px white #f5f5f5;
  border-radius: 6px;
}

.sidebar-container {
  margin: 12px;
}
.active-toggle {
  //background-color: #30336b;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 10px;
  border: 1px solid;
}

.sidebar {
  //height:100%;
  padding-left: 20px;
  //padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.rangeslider__fill {
  background-color: red;
}

.rangeslider-vertical {
  height: 80px;
  background-color: black;
}

.three-render {
  //flex: 1;
  //height:100%;
}

.track-settings {
  //height: 70px;
  padding-top: 12px;
  padding-right: 12px;
  //margin-bottom:24px;
}

.slider-text {
  font-size: 0.8rem;
}

.react-numeric-input input {
  color: #30336b;
  width: 85px;
}

.react-numeric-input {
  background-color: white;
  font-size: 0.9rem;
}

.ReactModal__Content--after-open {
}

.ReactModal__Content {
  background-color: black;
  color: black;
  top: 0px;
  margin: 0px;

  //margin-top: 50px;
}

.track-pattern-button-container {
  border: 1px solid grey;
  border-radius: 6px;
}
